.carousel-container {
  display: block;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
}

.carousel-container .arrow {
  display: block;
  position: absolute;
  top: 40%;
  z-index: 10;
  cursor: pointer;
}

.carousel-container .arrow img {
  width: 70px;
}

.carousel-container .arrowLeft {
  left: 10px;
}

.carousel-container .arrowRight {
  right: 10px;
}

.carousel-container #carousel {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: black;
  position: relative;
  bottom: 0;
  transition: 500ms linear;
}

.carousel-container #carousel .card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 10px;
  max-width: 20%;
  margin: 0;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid DarkSlateGrey;
  flex: 0 0 auto;
}

.carousel-container #carousel .card:last-of-type {
  margin: 0;
}

.carousel-container #carousel .card img {
  max-width: 100%;
  height: auto;
}

.card_btn {
  width: 100%;
  font-weight: bold;
  color: white;
}
