@import "header.scss";
@import "carousel.scss";
@import "preroll.scss";
@import "main.scss";
@import "footer.scss";
@import "recomends.scss";
@import "shop.scss";
@import "shoppingCard.scss";
@import "shipping.scss";
@import "about.scss";

html {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0E0E0E;
    color: #EBEBEB;
    width: 100%;
}
#root {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: inherit;
    @media screen and (max-width: 1000px) {
        max-width: 100%;
    }
}
main {
    background-color: inherit;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

p {
    font-size: 1.1rem;
    line-height: 2.5rem;
    // color: #EBEBEB;
}
a {
    text-decoration-line: none;
}
h1 {
    color: #EBEBEB;
    text-align: center;
}
h2 {
    font-family: 'Viaoda Libre', cursive;
    text-align: center;
    margin-top: 15px;
    .h2-text {
    color: #EBEBEB;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    position: relative;
    @media screen and (max-width: 1000px) {
        font-size: 1.1rem;
        line-height: 1rem;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - 2px);
        transform: translate(-100%,100%);
        left: -10px;
        z-index: 5;
        width: 100px;
        height: 2px;
        background-color: #EBEBEB;
        @media screen and (max-width: 1000px) {
            width: 50px;
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% + 2px);
        transform: translate(100%,-100%);
        right: -10px;
        z-index: 5;
        width: 100px;
        height: 2px;
        background-color: #EBEBEB;
        @media screen and (max-width: 1000px) {
            width: 50px;
        }
    }
}
}
h3 {
    color: #EBEBEB;
}
h4 {
    text-align: center;
    color: #EBEBEB;
    font-family: 'Viaoda Libre', cursive;
}
button {
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    border: 1px solid transparent;
    transition: 100ms linear;
    background-color: teal;
    color: #EBEBEB;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:disabled {
        background-color: darken($color: teal, $amount: 20);
        color: gray;
        cursor: not-allowed;
    }
    &:active {
        background-color: darken($color: teal, $amount: 10);
    }
    a {
        font-family: 'Cormorant Infant', serif;
        color: #EBEBEB;
        text-decoration: none;
        font-size: 1.25rem;
        width: 100%;
        z-index: 10;
        padding: 10px;
    }
    &:hover {
        transition: 100ms linear;
        &::before {
            content: "";
            width: 15px;
            height: 150%;
            background-color: rgba($color: #ebebeb, $alpha: 0.7);
            position: absolute;
            top: -20%;
            left: -30px;
            display: block;
            transform: rotate(-10deg);
            animation: buttonAnimation 1000ms linear;
            box-shadow: 0 0 10px 2px rgba($color: #ebebeb, $alpha: 0.7), 0 0 10px 2px rgba($color: #ebebeb, $alpha: 0.7);
            z-index: 0;
        }
    }
}

.activeLink {
    border-top: 5px solid darkolivegreen;
    background-color: #151515;
}


@keyframes buttonAnimation {
    0% {
        left: -30px;
        background-color: rgba($color: #ebebeb, $alpha: 0.7);
        box-shadow: 0 0 10px 2px rgba($color: #ebebeb, $alpha: 0.7), 0 0 10px 2px rgba($color: #ebebeb, $alpha: 0.7);
    }
    100% {
        left: 100%;
        background-color: rgba($color: #ebebeb, $alpha: 0.3);
        box-shadow: 0 0 10px 2px rgba($color: #ebebeb, $alpha: 0.3), 0 0 10px 2px rgba($color: #ebebeb, $alpha: 0.3);
    }
}


.shopping-card--fill {
    background-image: url("../img/svg/cart-check.svg");
}

.light {
    background-color: #EBEBEB;
    color: #151515;
    p {
        color: #151515;
    }
    h1, h2, h3, h4, h5, .h2-text {
        color: #0E0E0E;
    }
    table {
        tr, td, th {
            border: 1px solid #0E0E0E;
        }
    }
    .change_theme-close--open {
        background-image: url("../img/svg/x-circle-fill.svg");
    }
    aside form label {
        color: #EBEBEB;
    }
    .shopping-card {
        background-image: url("../img/svg/cart-plus-fill.svg");
    }
    .shopping-card--fill {
        background-image: url("../img/svg/cart-check-fill.svg");
    }
    .shopping-card_delete {
        background-image: url("../img/svg/x-circle-fill.svg");
    }
}