header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  flex: 0 0 auto;
  position: relative;
  background-color: inherit;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 5px;
  }
}

header .header_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-left: 30px;
}

@media screen and (max-width: 1000px) {
  header .header_container {
    padding-left: 20px;
  }
}

header .header_container img {
  align-self: center;
  max-width: 150px;
}

@media screen and (max-width: 1000px) {
  header .header_container {
    flex-flow: column;
  }
  header .header_container .logo {
    max-width: 70px;
  }
  header .header_container .logo_text {
    display: none;
  }
}

nav {
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  background-color: inherit;
}

nav .change_theme-close {
  display: none;
}

@media screen and (max-width: 1000px) {
  nav .change_theme-close {
    transition: 300ms linear;
    display: block;
    align-self: center;
    background-image: url("../img/svg/list.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 20px;
    height: 20px;
    margin: 20px;
  }
}

nav .change_theme-close--open {
  background-image: url("../img/svg/x-circle.svg");
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: inherit;
  transition: 500ms linear;
}

@media screen and (max-width: 1000px) {
  .menu {
    position: absolute;
    top: 100%;
    right: -100%;
    flex-flow: column wrap;
    width: 100%;
    z-index: 60;
  }
}

.menu li {
  list-style: none;
  display: block;
  align-self: center;
}

@media screen and (max-width: 1000px) {
  .menu li {
    width: 100%;
    background-color: inherit;
    border: 1px solid darkolivegreen;
    border-top: none;
  }
  .menu li:first-child {
    border-top: 1px solid darkolivegreen;
  }
}

.menu li a {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: block;
  color: darkolivegreen;
  border-top: 5px solid transparent;
  font-size: 1.1rem;
  font-family: 'Neucha', cursive;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}

.menu li a:hover {
  border-top: 5px solid darkolivegreen;
  cursor: pointer;
  color: darkolivegreen;
}

@media screen and (max-width: 1000px) {
  .menu li a {
    font-size: 1rem;
    padding: 10px;
  }
}

.change_theme {
  display: block;
  align-self: center;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/circle.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  cursor: pointer;
  margin: 30px;
  transition: 300ms linear;
}

@media screen and (max-width: 1000px) {
  .change_theme {
    margin: 20px;
  }
}

.change_theme--light {
  background-image: url("../img/svg/circle-fill.svg");
}

.isOpen {
  right: 0;
}

.shopping-card {
  display: block;
  align-self: center;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/cart-plus.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  margin: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .shopping-card {
    margin: 20px;
  }
}

.shopping-card--fill {
  background-image: url("../img/svg/cart-check.svg");
}

.carousel-container {
  display: block;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
}

.carousel-container .arrow {
  display: block;
  position: absolute;
  top: 40%;
  z-index: 10;
  cursor: pointer;
}

.carousel-container .arrow img {
  width: 70px;
}

.carousel-container .arrowLeft {
  left: 10px;
}

.carousel-container .arrowRight {
  right: 10px;
}

.carousel-container #carousel {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: inherit;
  position: relative;
  bottom: 0;
  transition: 500ms linear;
}

.carousel-container #carousel .card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 10px;
  max-width: 20%;
  margin: 0;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid darkolivegreen;
  flex: 0 0 auto;
}

.carousel-container #carousel .card:last-of-type {
  margin: 0;
}

.carousel-container #carousel .card img {
  max-width: 100%;
  height: auto;
}

.card_btn {
  width: 100%;
  font-weight: bold;
  color: white;
  display: block;
}

.card_btn a {
  display: block;
  width: 100%;
  height: 100%;
}

.preroll {
  background-image: url("../img/preroll.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
}

.preroll .preroll_text {
  max-width: 50%;
  padding: 20px;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 10px;
}

.preroll .preroll_text p {
  display: block;
  width: 100%;
  font-size: 1.9rem;
  line-height: 1.5em;
  text-align: center;
  color: #EBEBEB;
  font-family: 'Cormorant Infant', serif;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .preroll .preroll_text p {
    font-size: 1.3rem;
  }
}

.preroll .preroll_text .head_btn {
  padding: 10px 30px;
}

.preroll .preroll_text .head_btn .head_btn_span {
  display: inline-flex;
}

.preroll .preroll_text .head_btn img {
  margin-left: 5px;
  display: inline;
}

main {
  width: 100%;
  flex: 1 0 auto;
  margin-bottom: 5px;
}

footer {
  flex: 0 0 auto;
  width: 100%;
  border-top: 5px solid darkolivegreen;
  color: gray;
  font-weight: 500;
}

footer p {
  font-family: 'Cormorant Infant', serif;
  align-self: center;
  margin: 0;
}

footer .footer_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

footer .footer_container .footer_copyright {
  text-align: right;
  padding-right: 10px;
}

footer .footer_container .footer_copyright::before {
  content: "\00A9";
  color: dimgray;
  margin-right: 10px;
}

footer .footer_container .footer_icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

footer .footer_container .footer_icons a img {
  max-width: 40px;
  height: auto;
  margin: 10px;
}

.recommends_container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 15px;
}

@media screen and (max-width: 1000px) {
  .recommends_container {
    flex-flow: row wrap;
  }
}

.recommends_container .recommends_block {
  width: 25%;
  padding: 0 10px;
  color: white;
  padding-top: 15px;
  box-sizing: border-box;
  margin-right: 10px;
  border: 1px solid darkolivegreen;
  display: flex;
  flex-flow: column;
}

.recommends_container .recommends_block:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1000px) {
  .recommends_container .recommends_block:nth-of-type(1n) {
    margin-right: 7px;
    margin-bottom: 7px;
    width: calc(50% - 7px);
  }
}

@media screen and (max-width: 1000px) {
  .recommends_container .recommends_block:nth-of-type(2n) {
    margin-right: 0;
    margin-bottom: 7px;
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .recommends_container .recommends_block {
    border: 1px solid darkolivegreen;
  }
}

.recommends_container .recommends_block img {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: auto;
}

.recommends_container .recommends_block h4 {
  text-align: center;
  line-height: 1.5em;
  font-size: 1.1rem;
}

.recommends_container .recommends_block p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: center;
}

.shop_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "aside container container";
  grid-gap: 1.5em;
  background-color: inherit;
}

@media screen and (max-width: 1000px) {
  .shop_container {
    display: block;
  }
}

.shop_container .openMenu {
  display: block;
  position: absolute;
  margin-top: 0;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: inherit;
  transition: 500ms linear;
  z-index: 60;
  animation: openedmenu 800ms linear;
}

.shop_container .openMenuHead:first-child:after {
  border-top-color: transparent;
  border-bottom-color: darkolivegreen;
}

.shop_container aside {
  grid-area: aside;
  padding: 0;
  padding-left: 1.5em;
  display: block;
  background-color: inherit;
}

@media screen and (max-width: 1000px) {
  .shop_container aside {
    padding-left: 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }
}

.shop_container aside h4 {
  padding: 10px 0;
}

.shop_container aside h4:first-child {
  position: relative;
  z-index: 50;
  background-color: inherit;
}

@media screen and (max-width: 1000px) {
  .shop_container aside h4 {
    margin: 7px 0;
    padding: 7px 0;
  }
}

@media screen and (max-width: 1000px) {
  .shop_container aside h4:first-child::after {
    content: "";
    border: 5px solid transparent;
    border-top-color: darkolivegreen;
    display: inline-block;
    margin-left: 10px;
    transition: 500ms ease;
  }
}

.shop_container aside form {
  transition: 500ms linear;
}

@media screen and (max-width: 1000px) {
  .shop_container aside form {
    position: absolute;
    top: -100%;
    width: 100%;
    background-color: inherit;
  }
  .shop_container aside form label {
    color: #ebebeb;
  }
}

@media screen and (max-width: 1000px) {
  .shop_container aside form .shop_container_aside_block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
  }
}

.shop_container aside form button {
  color: inherit;
}

@media screen and (max-width: 1000px) {
  .shop_container aside form button {
    background-color: transparent;
    padding: 0;
  }
}

.shop_container .input {
  display: flex;
  justify-content: center;
  padding: 7px;
  border: 1px solid DarkSlateBlue;
  margin-bottom: 10px;
  text-align: center;
  background-color: DarkSlateBlue;
  vertical-align: middle;
}

@media screen and (max-width: 1000px) {
  .shop_container .input {
    padding: 3px;
    margin-bottom: 5px;
    font-size: 2vw;
    margin-left: 5px;
    flex: 1;
  }
}

.shop_vitrina {
  grid-area: container;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.shop_vitrina .card {
  max-width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid darkolivegreen;
}

.shop_vitrina .card img {
  max-width: 100%;
}

.shop_item_page {
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .shop_item_page {
    padding: 0 10px 10px 10px;
  }
}

.shop_item_page .item_page {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

@media screen and (max-width: 1000px) {
  .shop_item_page .item_page {
    flex-flow: column;
    justify-content: center;
  }
}

.shop_item_page .item_page_info {
  width: 50%;
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .shop_item_page .item_page_info {
    width: 100%;
    margin-left: 0;
  }
}

.shop_item_page .item_page_info h3 {
  text-align: center;
}

.shop_item_page .item_page_info p {
  color: inherit;
  line-height: 1.5em;
  padding: 0 15px;
}

.shop_item_page .item_page_gallery {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .shop_item_page .item_page_gallery {
    width: 100%;
  }
}

.shop_item_page .item_page_gallery .item_page_gallery_general {
  width: 100%;
}

.shop_item_page .item_page_gallery .item_page_gallery_general img {
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .shop_item_page .item_page_gallery .item_page_gallery_general img {
    display: block;
    margin: 0 auto;
  }
}

.shop_item_page .item_page_gallery .item_page_gallery_links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.shop_item_page .item_page_gallery .item_page_gallery_links img {
  cursor: pointer;
  border: 1px solid olive;
  padding: 5px;
  width: 20%;
  flex: 1 0 20%;
}

table {
  color: inherit;
  border-collapse: collapse;
  width: 100%;
}

table tfoot {
  text-align: center;
}

table th, table td, table tr {
  border: 1px solid white;
  padding: 7px;
}

@keyframes openedmenu {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0;
  }
}

.shop_addToCard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px 0;
}

.shop_addToCard button {
  margin: 0;
}

.shop_addToCard .shop_addToCard-input {
  align-self: center;
  margin-right: 10px;
}

.shop_addToCard .shop_addToCard-input label {
  margin-right: 7px;
}

.shop_addToCard .shop_addToCard-input input {
  padding: 10px;
}

.shopping-card_empty {
  text-align: center;
}

html {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0E0E0E;
  color: #EBEBEB;
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0 auto;
  background-color: inherit;
}

@media screen and (max-width: 1000px) {
  #root {
    max-width: 100%;
  }
}

main {
  background-color: inherit;
  min-height: 100vh;
}

p {
  font-size: 1.1rem;
  line-height: 2.5rem;
}

a {
  text-decoration-line: none;
}

h1 {
  color: #EBEBEB;
  text-align: center;
}

h2 {
  font-family: 'Viaoda Libre', cursive;
  text-align: center;
  margin-top: 15px;
}

h2 .h2-text {
  color: #EBEBEB;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.15rem;
  position: relative;
}

@media screen and (max-width: 1000px) {
  h2 .h2-text {
    font-size: 1.1rem;
    line-height: 1rem;
  }
}

h2 .h2-text::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  transform: translate(-100%, 100%);
  left: -10px;
  z-index: 5;
  width: 100px;
  height: 2px;
  background-color: #EBEBEB;
}

@media screen and (max-width: 1000px) {
  h2 .h2-text::before {
    width: 50px;
  }
}

h2 .h2-text::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% + 2px);
  transform: translate(100%, -100%);
  right: -10px;
  z-index: 5;
  width: 100px;
  height: 2px;
  background-color: #EBEBEB;
}

@media screen and (max-width: 1000px) {
  h2 .h2-text::after {
    width: 50px;
  }
}

h3 {
  color: #EBEBEB;
}

h4 {
  text-align: center;
  color: #EBEBEB;
  font-family: 'Viaoda Libre', cursive;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid transparent;
  transition: 500ms linear;
  background-color: teal;
  color: #EBEBEB;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

button a {
  font-family: 'Cormorant Infant', serif;
  color: #EBEBEB;
  text-decoration: none;
  font-size: 1.25rem;
  width: 100%;
  z-index: 10;
}

button:hover {
  transition: 1000ms linear;
}

button:hover::before {
  content: "";
  width: 15px;
  height: 150%;
  background-color: rgba(235, 235, 235, 0.7);
  position: absolute;
  top: -20%;
  left: -30px;
  display: block;
  transform: rotate(-10deg);
  animation: buttonAnimation 1000ms linear;
  box-shadow: 0 0 10px 2px rgba(235, 235, 235, 0.7), 0 0 10px 2px rgba(235, 235, 235, 0.7);
  z-index: 0;
}

.activeLink {
  border-top: 5px solid darkolivegreen;
  background-color: #151515;
}

@keyframes buttonAnimation {
  0% {
    left: -30px;
    background-color: rgba(235, 235, 235, 0.7);
    box-shadow: 0 0 10px 2px rgba(235, 235, 235, 0.7), 0 0 10px 2px rgba(235, 235, 235, 0.7);
  }
  100% {
    left: 100%;
    background-color: rgba(235, 235, 235, 0.3);
    box-shadow: 0 0 10px 2px rgba(235, 235, 235, 0.3), 0 0 10px 2px rgba(235, 235, 235, 0.3);
  }
}

.shopping-card--fill {
  background-image: url("../img/svg/cart-check.svg");
}

.light {
  background-color: #EBEBEB;
  color: #151515;
}

.light p {
  color: #151515;
}

.light h1, .light h2, .light h3, .light h4, .light h5, .light .h2-text {
  color: #0E0E0E;
}

.light table tr, .light table td, .light table th {
  border: 1px solid #0E0E0E;
}

.light .change_theme-close--open {
  background-image: url("../img/svg/x-circle-fill.svg");
}

.light aside form label {
  color: #EBEBEB;
}

.light .shopping-card {
  background-image: url("../img/svg/cart-plus-fill.svg");
}

.light .shopping-card--fill {
  background-image: url("../img/svg/cart-check-fill.svg");
}
