.shipping_container {
  max-width: 60%;
  margin: 0 auto;
}

.shipping_services {
  display: flex;
  justify-content: space-around;
}

.shipping_services-block {
  max-width: 30%;
}

.shipping_services-block img {
  max-width: 100%;
}

.shipping_services-block p {
  line-height: 1.3rem;
}

p {
  text-align: center;
}
