.shop_container {
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "aside container container";
    grid-gap: 1.5em;
    aside {
        // max-width: 20%;
        grid-area: aside;
    }
    .input {
        display: flex;
        justify-content: center;
        padding: 7px;
        border: 1px solid darkolivegreen;
        margin-bottom: 10px;
        text-align: center;
        background-color: darkolivegreen;
    }
}
.shop_vitrina {
    grid-area: container;
    display: flex;
    flex-flow: row wrap;
    .card {
        max-width: 50%;
        img {
            max-width: 100%;
        }
    }
}