.shop_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "aside container container";
    grid-gap: 1.5em;
    background-color: inherit;
    @media screen and (max-width: 1000px) {
        display: block;
    }
    .openMenu {
         display: block;
         top: 100%;
         left: 0;
         width: 100%;
         background-color: inherit;
         transition: 500ms linear;
         z-index: 60;
         animation: openedmenu 800ms linear;
     }
     .closedMenu {
        top: -1000%;
        visibility: hidden;
        animation: closedmenu 800ms linear;
        z-index: -100;
     }
     

    aside {
        grid-area: aside;
        padding: 0;
        padding-left: 1.5em;
        display: block;
        background-color: inherit;
        @media screen and (max-width: 1000px) {
            padding-left: 0;
            position:sticky;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 50;
        }
        .shop_container-sort {
            z-index: 100;
            background-color: inherit;
            &::after {
                @media screen and (max-width: 1000px) {
                    content: "";
                    border: 5px solid transparent;
                    border-top-color: darkolivegreen;
                    display: inline-block;
                    margin-left: 10px;
                    transition: 500ms ease;
                 }
            }
            
        }
        .shop_container-sort--addArrow {
            &::after {
                @media screen and (max-width: 1000px) {
                    content: "";
                    border: 5px solid transparent;
                    border-top-color: transparent;
                    border-bottom-color: darkolivegreen;
                    display: inline-block;
                    margin-left: 10px;
                    transition: 500ms ease;
                 }
            }
        }
        h4 {
            padding: 10px 0;
            @media screen and (max-width: 1000px) {
                margin: 7px 0;
                padding: 7px 0;
            }        
            
        }
        form {
            transition: 500ms linear;
                @media screen and (max-width: 1000px) {
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    background-color: inherit;
                    label {
                        color: #ebebeb;
                    }
                }
            .shop_container_aside_block {
                @media screen and (max-width: 1000px) {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: stretch;
                }
            }

            button {
                color: inherit;
                @media screen and (max-width: 1000px) {
                    background-color: transparent;
                    padding: 0;
                }
            }
        }
    }
    .input {
        display: flex;
        justify-content: center;
        padding: 7px;
        border: 1px solid DarkSlateBlue;
        margin-bottom: 10px;
        text-align: center;
        background-color: DarkSlateBlue;
        @media screen and (max-width: 1000px) {
            padding: 3px;
            margin-bottom: 5px;
            font-size: 2vw;
            margin-left: 5px;
            flex: 1;
        }
        label {
            align-self: center;
        }
        input[type="radio"] {
            align-self: center;
        }
    }
}


.shop_vitrina {
    grid-area: container;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .card {
        align-self: flex-start;
        max-width: 30%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid darkolivegreen;
        img {
            max-width: 100%;
        }
    }
}
.shop_item_page {
    max-width: 100%;
    @media screen and (max-width: 1000px) {
        padding: 0 10px 10px 10px;
    }
    .item_page {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        @media screen and (max-width: 1000px) {
            flex-flow: column;
            justify-content: center;
        }
    }
    .item_page_info {
        width: 50%;
        margin-left: 10px;
        @media screen and (max-width: 1000px) {
            width: 100%;
            margin-left: 0;
        }
        h3 {
            text-align: center;
        }
        p {
            color: inherit;
            line-height: 1.5em;
            padding: 0 15px;
        }
    }
    .item_page_gallery {
        width: 50%;
        @media screen and (max-width: 1000px) {
            width: 100%;
        }
        .item_page_gallery_general {
            width: 100%;
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                @media screen and (max-width: 1000px) {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .item_page_gallery_links {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 100%;
            img {
                cursor: pointer;
                padding: 5px;
                width: 20%;
                flex: 1 0 20%;
                &:hover {
                    background-color: lightgray;
                }
            }
        }
    }
}

table {
    color: inherit;
    border-collapse: collapse;
    width: 100%;
    tfoot {
        text-align: center;
    }
    th, td, tr {
        border: 1px solid white;
        padding: 7px;
    }
}
@keyframes openedmenu {
    0% {
        top: -1000%;
        visibility: hidden;
        opacity: 0;
    }
    100% {
        top: 100%;
        visibility: visible;
        opacity: 1;
    }
}
@keyframes closedMenu {
    0% {
        top: 100%;
        visibility: visible;
        opacity: 1;
    }
    100% {
        top: -1000%;
        visibility: hidden;
        opacity: 0;
    }
}

.shop_addToCard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 10px 0;
    button {
        margin: 0;
    }
    .shop_addToCard-input {
        align-self: center;
        margin-right: 10px;
        label {
            margin-right: 7px;
        }
        input {
            padding: 10px;
        }
    }
}
.shop_addToCard-tooltip {
    opacity: 1;
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-left: 10px;
    transition: opacity 300ms linear;
    color: dimgray;
    &::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: aliceblue;
        border: 1px solid gray;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        transform: rotate(45deg);
        transform-origin: center center;
        position: absolute;
        top: calc(50% - 4px);
        left: -5px;
    }
}

.transparent {
    opacity: 0;
}