.shopping-card_empty {
    text-align: center;
}
.shopping-card_info {
    width: 100%;
    border: 1px solid darkolivegreen;
    border-radius: 7px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    p {
        text-align: center;
        align-self: center;
        padding-left: 10px;
    }
    img {
        width: 100px;
        height: auto;
        margin-left: 10px;
    }
    .shopping-card_info_span {
        display: flex;
        align-self: center;
    }
}

.shopping-card_delete {
    display: block;
    background-image: url("../img/svg/x-circle.svg");
    margin: 30px;
    align-self: center;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin: 30px;
    cursor: pointer;
}

.buyerInfo {
    width: 60%;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
    .invalid {
        border: 1px solid darkred;
    }
    .invalid_text {
        color: darkred;
    }
    input, label {
        display: block;
    }
    label {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        padding: 7px 5px;
    }

    input {
        padding: 5px;
        border-radius: 5px;
        box-sizing: border-box;
        width: 100%;
        outline: none;
        border: 1px solid darkolivegreen;
    }
    .buyerInfo_fullname {
        width: 100%;
        display: flex;
    }
    .buyerInfo_fullname_block {
        width: 50%;
        box-sizing: border-box;
        input {
            width: 100%;
        }
    }
    button {
        margin-top: 10px;
    }
}
