.carousel-container {
    display: block;
    max-width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;
    .arrow {
        img {
            width: 70px;
        }
        display: block;
        position: absolute;
        top: 40%;
        z-index: 10;

        cursor: pointer;
    }
    .arrowLeft {
        left: 10px;
    }
    .arrowRight {
        right: 10px;
    }
    #carousel {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        background-color: inherit;
        position: relative;
        bottom: 0;
        transition: 500ms linear;
    }
}
.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 10px;
    max-width: 20%;
    margin: 0;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid darkolivegreen;
    flex: 0 0 20%;
    &:last-of-type {
        margin: 0;
    }
    button {
        width: 100%;
        a {
            display: block;
            padding: 10px 0;
            width: 100%;
            @media screen and (max-width:1000px) {
                padding: 5px 0;
                font-size: 1.1rem;
            }
        }
    }
    @media screen and (max-width:1000px) {
        flex: 0 0 30%;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}