.preroll {
  background-image: url("../img/preroll.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
}

.preroll .preroll_text {
  max-width: 50%;
  padding: 20px;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 10px;
}

.preroll .preroll_text p {
  display: block;
  width: 100%;
  font-size: 1.9rem;
  line-height: 1.5em;
  text-align: center;
  color: #EBEBEB;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .preroll .preroll_text p {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}

.preroll .preroll_text .head_btn {
  padding: 10px 30px;
}

.preroll .preroll_text .head_btn .head_btn_span {
  display: inline-flex;
}

.preroll .preroll_text .head_btn img {
  margin-left: 5px;
  display: inline;
}
